body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


$base-unit: 14px;
$primary-color: #0055b8;
$font-color: #181b20;

.App {
  padding-top:84px;
}

@import "./Component/Topbar/Topbar.scss";
@import "./Page/Home/Home.scss";

$theme-colors: (
    "primary": $primary-color
);

@import "~bootstrap/scss/bootstrap";